*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APK & AAB
*.apk
*.aab

# Keystore（绝不提交密钥文件）
*.jks
*.keystore
keystore.b64
keystore.properties
